/*|| Custom Properties ||*/

:root {
  --clr-card-1: hsl(180, 62%, 55%);
  --clr-card-2: hsl(0, 78%, 62%);
  --clr-card-3: hsl(34, 97%, 64%);
  --clr-card-4: hsl(212, 86%, 64%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(212, 6%, 44%);
  --clr-neutral-500: hsl(234, 12%, 34%);

  --ff-pop: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-neutral: 400;
  --fw-bold: 600;
}

.light {
  font-weight: var(--fw-light);
}

.wrapper {
  max-width: 1200px;

  margin-top: 4rem;
  margin-inline: auto;

  padding-inline: 2rem;
  display: grid;
  gap: 2rem;

  justify-items: center;
}

.header-wrapper {
  max-width: 700px;

  text-align: center;
}

/*|| Reset ||*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/*|| Setup ||*/

body {
  font-family: var(--ff-pop);

  line-height: 1.5;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.525rem;
}

header p{
  font-size: 1.125rem;
  font-weight: var(--fw-neutral);
}

p {
  font-weight: var(--fw-light);
}

/*|| CSS ||*/

.card {
  max-width: 415px;

  box-shadow: 0px 12px 20px -10px var(--clr-neutral-400);
  border-radius: 10px;

  padding-inline: 2rem;
  padding-block: 2rem 3rem;

  display: grid;
  gap: 0.325rem;
}

.card img {
  justify-self: end;
  margin-top: 2.5rem;
}

.card:nth-child(1) {
  border-top: 5px solid var(--clr-card-1);
}

.card:nth-child(2) {
  border-top: 5px solid var(--clr-card-2);
}

.card:nth-child(3) {
  border-top: 5px solid var(--clr-card-3);
}
.card:nth-child(4) {
  border-top: 5px solid var(--clr-card-4);
}

.card:hover {
  transform: translateY(-5px) scale(1.04);
  transition: transform 0.3s ease;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .card:nth-child(1) {
    grid-area: a;
  }

  .card:nth-child(2) {
    grid-area: b;
  }

  .card:nth-child(3) {
    grid-area: c;
  }

  .card:nth-child(4) {
    grid-area: d;
  }

  .card-wrapper {
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      ". b ."
      "a b d"
      "a c d"
      ". c .";
  }
}
